/*DEVELOPER: Winona Patrick, IS117-004, Spring 2022*/
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    background:#f1f1f1;
}
* {
    box-sizing: border-box;
}

.section-title {
    font-size: 3rem;
    font-weight: 600;
}


.nav-item {
    margin: 0 20px;
}

#main {
    background: url("images/plane.jpg");
    background-size: cover;
    height: 100vh;
}

#asia {
    background: url("images/asia.jpg");
    background-size: cover;
    height: 100vh;
}
#east {
    background: url("images/east.jpg");
    background-size: cover;
    height: 100vh;
}

#hotel {
    background: url("images/hotel.jpg");
    background-size: cover;
    height: 100vh;
}

.header-main {
    margin-top: 20px;
}

.header-info {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: #5a34fc;
}

.btn-outline-light {
    margin-left: 20px;
}

.btn-space {
    margin-top: 20px;
}


#news {
    border-radius: 10px;
    background-color: #5a34fc;
    margin: 0px 80px 80px 80px;
    padding: 90px 0px 0px 0px;
}

.carousel-item {
    padding: 7% 15%;
}

    .carousel-item h3 {
        font-size: 2.5rem;
    }

 
#options {
    margin-top: 20px;
    padding: 100px;

}

.options-title {
    margin-bottom: 100px;
}

.card1 {
    box-shadow: 0px 3px 63px -12px rgba(0, 0, 0, 0.75);
    border-color: #5a34fc;
    padding: 18px 18px 18px 18px;
    border-radius: 10px;
    background: #f1f1f1
}
.card2 {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.card {
    box-shadow: 0px 3px 63px -12px rgba(0, 0, 0, 0.75);
    border-color: #5a34fc;
  
    border-radius: 10px;
    background: #f1f1f1
}


.card-body1 {
    padding: 20px 20px 20px 20px;
}



.options-text {
    color: #5a34fc;
    font-size: 2rem;
    font-weight: bold;
    padding: 5% 0%;
}

.btn-block {
    font-size: 1.5rem;
}

.cta-text {
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
}

#footer {
    height: 100px;
    background: #f1f1f1;
}

 
@media only screen and (max-width: 768px) {

    .card {
        margin: 20px 0;
    }

    .header-info {
        font-size: 2rem;

    }

    .btn-outline-light {
        margin-left: 0px;
    }


}


body {
    font-family: 'Muli', sans-serif;
    height: 100% !important;
    background-color: #fff !important;
    padding: 0 !important;
    margin: 0 !important
}

.container-fluid {
    width: 50%;
}



h2 {
    font-size: 35px !important
}

h5 {
    font-size: 20px !important
}

.fa {
    cursor: pointer;
    font-size: 21px;
    margin: 5px 10px 5px 10px !important
}

button {
    font-size: calc(12px + (13 - 12) * ((100vw - 360px) / (1600 - 320))) !important;
    padding-left: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-right: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-top: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-bottom: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }

li {
    margin-top: 10px;
    margin-bottom: 10px
}

input {
    border: 2px solid #5a34fc !important;
    width: 40px;
}

.input-group-lg > .custom-select,
.input-group-lg > .form-control:not(textarea) {
    height: calc(40px + (48 - 40) * ((100vw - 360px) / (1600 - 360))) !important;
        width: 200px;
}

input::-webkit-input-placeholder {
    padding-left: 5px !important;
    transform: translate3d(0, -4px, 0)
}

input::placeholder {
    vertical-align: middle !important;
    font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}


.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
 
}

.dropdown-submenu {
    position: relative;

}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
    
        left: -10rem;  
        margin-top: -6px;
    }

 
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}






* {
    box-sizing: border-box;
}

.body2 {
    font-family: Arial;
    padding: 90px;
    background: #f1f1f1;
}
 
.column {
    margin: 0 auto; 
    float: none;  
    width: 75%;
}

 
.japanimg {
    background: url("images/japan.jpg");
    width: 100%;
    padding: 20px;
}

.indiaimg {
    background: url("images/mumbai.jpg");
    width: 100%;
    padding: 20px;
}

.chinaimg {
    background: url("images/china.jpg");
    width: 100%;
    padding: 20px;
}
.bostonimg {
    background: url("images/boston.jpg");
    width: 100%;
    padding: 20px;
}
.marylandimg {
    background: url("images/maryland.jpg");
    width: 100%;
    padding: 20px;
}
.dcimg {
    background: url("images/maryland.jpg");
    width: 100%;
    padding: 20px;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}